<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
</head>
<body>
    <form method="post" >
        <label>Country:</label>
        <input id="countries_name" name="countries_name" type="text" />
        <input type="submit" formaction="/coordinate" />
    </form>
    
    
    

    {% for meh in searcher %}
        <p>
           
                
            <li>{{ meh.countries_dive_name }}  {{meh.longitude}}, {{meh.latitude}}</li>
            <p>view on map</p>
              
            
                
                
            
        </p>
    {% endfor %}
    
    <!--{% for err in coordinate %}
        <p>
           
                
            <li><a href="/coordinate"> {{ err.countries_dive_name }} {{err.latitude}}, {{err.longitude}}</a></li>  
            
                
                
            
        </p>
    {% endfor %}-->

    
    <p>{{lat}} {{lon}}</p>
    <h1>View on map</h1>
    <p id="myText"><a href="/map/{{array}}">{{ array }}</a></p>
    

  
    
  
</body>
</html>