<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
</head>
<body>
    <form method="post" action="/post_user">
        <label>Country:</label>
        <input id="countries_name" name="countries_name" type="text" />
        <input type="submit" formaction="/post_user" />
    </form>
    
    
    

    {% for meh in arr %}
        <p>
           
                
            <li><a href="/meh/{{meh.countries_name}}">{{meh.countries_name}} {{ meh.countries_dive_name }}</a></li>  
            
                
                
            
        </p>
    {% endfor %}

  
    
  
</body>
</html>